TASK_NAME_TEMPLATE="Delete feature flag %s"
TASK_DESCRIPTION_TEMPLATE="Link to feature: %s"

UNLEASH_BASE_URL=
UNLEASH_PROJECT_NAME=
UNLEASH_PERSONAL_API_TOKEN=

JIRA_BASE_URL=
JIRA_PROJECT_KEY=
JIRA_ISSUE_TYPE_ID=
JIRA_USER_EMAIL=
JIRA_USER_API_TOKEN=